body {
    padding: 0px;
    margin: 0px;
}
.header-image {
    border: solid 1px #dbdbdb;
    display: flex;
    justify-content: center;
}
.gallery {
    justify-content: center;
    background-color: #fafafa;
}
.line {
    display: flex;
}
.photo {

}
.photo img{
    width: 293px;
    height: 293px;
    object-fit: cover;
}
.photo:hover {
    filter: brightness(0.6)
}